<!DOCTYPE HTML>
<html>
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>List of users</div>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {{#users}}
    <tr>
      <td>{{username}}</td>
      <td>
        {{#roles}}
          <b>{{name}}</b>
        {{/roles}}
      </td>
      <td>
        <b><a href="/user/{{id}}">edit</a></b>
      </td>
    </tr>
  {{/users}}
  </tbody>
</table>
<hr>
<a href="/home">Main page</a>
</body>
</html>